@import 'tailwindcss';

/* Restore 1994 browser defaults over Tailwind's Preflight reset */

html {
	font-family: 'Times New Roman', Times, serif;
	background: white;
	color: black;
	transition: background-color 0.3s, color 0.3s;
}

html.dark {
	background: black;
	color: white;
}

html.dark a:link { color: #6ea8fe; }
html.dark a:visited { color: #c0a0ff; }
html.dark a:hover { color: #ff6b6b; }

html.dark hr {
	border-top-color: #555;
}

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0 0.25em; }
h3 { font-size: 1.17em; margin: 1em 0; }

a:link { color: blue; text-decoration: underline; }
a:visited { color: purple; text-decoration: underline; }
a:hover { color: red; }

ul {
	list-style: disc;
	padding-left: 2em;
	margin: 1em 0;
}

li {
	margin: 0.25em 0;
}

p {
	margin: 1em 0;
}

hr {
	border: none;
	border-top: 1px solid gray;
	margin: 1em 0;
}

h2 a:link,
h2 a:visited {
	color: inherit;
	text-decoration: none;
}

h2 a:hover {
	color: inherit;
	text-decoration: underline;
}

html.dark h2 a:link,
html.dark h2 a:visited,
html.dark h2 a:hover {
	color: inherit;
}

ul.two-col {
	columns: 2;
	column-gap: 1em;
}
